@model AspnetCoreMvcFull.ModelDTO.Product.ProductCSDDTO

@if (Model != null)
{
	<table class="table table-bordered" style="width: 100%; border-collapse: collapse; text-align:center; margin-top:6rem;">
		<thead>
			<tr style="background:#E7E6E6; text-align: center;">

				<th rowspan="2" style="border: 1px solid black; width:3%; color: black; font-weight:700; vertical-align: middle;">MÁY</th>
				<th rowspan="2" style="border: 1px solid black; width:5%; color: black; font-weight:700; vertical-align: middle;">Mã Hàng</th>
				<th rowspan="2" style="border: 1px solid black; width:22%; color: black; font-weight:700; vertical-align: middle;">Tên Quy Cách </th>
				<th colSpan="2" style="border: 1px solid black; width:15%; color: black; font-weight:700;">Số Link </th>
				<th colSpan="2" style="border: 1px solid black; width:20%; color: black; font-weight:700;">Loại Cao Su</th>
				<th colSpan="2" style="border: 1px solid black; width:15%; color: black; font-weight:700;">Độ Co Rút <br> (mm)</th>
				<th colSpan="2" style="border: 1px solid black; width:15%; color: black; font-weight:700;">	Khuôn Đùn</th>
			</tr>
			<tr style="background:#E7E6E6; text-align: center;">

				<th style="border: 1px solid black;  color: black; font-weight:700; ">Thân Chính</th>
				<th style="border: 1px solid black;  color: black; font-weight:700;">Thân Nối</th>
				<th style="border: 1px solid black;  color: black; font-weight:700;">Lớp Lót</th>
				<th style="border: 1px solid black;  color: black; font-weight:700;">Bề Mặt</th>
				<th style="border: 1px solid black;  color: black; font-weight:700;">Lớp Lót</th>
				<th style="border: 1px solid black;  color: black; font-weight:700;">Bề Mặt</th>
				<th style="border: 1px solid black;  color: black; font-weight:700;">Lớp Lót</th>
				<th style="border: 1px solid black;  color: black; font-weight:700;">Bề Mặt</th>
			</tr>
		</thead>
		<tbody>
			<tr style="background:white;">
				<td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.may</td>
				<td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.mahang</td>
				<td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.name</td>
				<td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.solinkthanchinh</td>
				<td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.solinkthannoi</td>
				<td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.caosuloplot</td>
				<td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.caosubemat</td>
				<td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.docoloplot</td>
				<td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.docobemat</td>
				<td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.khotieuchuanloplot</td>
				<td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.khotieuchuanbemat</td>

			</tr>
		</tbody>
	</table>
	<table class="table table-bordered" style="width: 100%; border-collapse: collapse; text-align:center; margin-top:25px;">
		<thead>
			<tr style="background:#E7E6E6; text-align: center;">
				<th colSpan="2" style="border: 1px solid black; width:20%; color: black; font-weight:700;">Khổ Tiêu Chuẩn <br />(±5mm) </th>
				<th colSpan="4" style="border: 1px solid black; width:40%; color: black; font-weight:700;">Chiều Dài Tiêu Chuẩn <br />(±10 mm)</th>
				<th colSpan="4" style="border: 1px solid black; width:40%; color: black; font-weight:700;">Trọng Lượng Tiêu Chuẩn <br>(+0,-15% kg)</th>
			</tr>
			<tr style="background:#E7E6E6; text-align: center;">
				<th rowspan="2" style="border: 1px solid black; color: black; font-weight:700; vertical-align: middle;">Lớp Lót</th>
				<th rowspan="2" style="border: 1px solid black; color: black; font-weight:700; vertical-align: middle;">Bề Mặt</th>
				<th colSpan="2" style="border: 1px solid black; color: black; font-weight:700;">Thân Chính</th>
				<th colSpan="2" style="border: 1px solid black; color: black; font-weight:700;">Thân Nối</th>
				<th colSpan="2" style="border: 1px solid black; color: black; font-weight:700;">Thân Chính</th>
				<th colSpan="2" style="border: 1px solid black; color: black; font-weight:700;">Thân Nối</th>
			</tr>
			<tr style="background:#E7E6E6; text-align: center;">

				<th style="border: 1px solid black; color: black; font-weight:700; ">Lớp Lót</th>
				<th style="border: 1px solid black; color: black; font-weight:700;">Bề Mặt</th>
				<th style="border: 1px solid black; color: black; font-weight:700;">Lớp Lót</th>
				<th style="border: 1px solid black; color: black; font-weight:700;">Bề Mặt</th>
				<th style="border: 1px solid black; color: black; font-weight:700;">Lớp Lót</th>
				<th style="border: 1px solid black; color: black; font-weight:700;">Bề Mặt</th>
				<th style="border: 1px solid black; color: black; font-weight:700;">Lớp Lót</th>
				<th style="border: 1px solid black; color: black;  font-weight:700;">Bề Mặt</th>
			</tr>
		</thead>
		<tbody>
			<tr style="background:white;">
				<td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.khotieuchuanloplot</td>
				<td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.khotieuchuanbemat</td>
				<td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.chieudaithanchinhloplot</td>
				<td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.chieudaithanchinhbemat</td>
				<td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.chieudaithannoiloplot</td>
				<td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.chieudaithannoibemat</td>
				<td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.trongluongthanchinhloplot</td>
				<td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.trongluongthanchinhbemat</td>
				<td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.trongluongthannoiloplot</td>
				<td style="border: 1px solid black; color:#3F51B5; font-weight:700; font-size:21px;">@Model.trongluongthannoibemat</td>
			</tr>
		</tbody>
	</table>
}
